<% show_post ||= false %>

<div class='row'>
  <div class='span8 well'>
    <em>"<%= comment.body %>"</em>
    <% if show_post %>
      on <%= link_to comment.post.title, post_path(comment.post) %>
    <% end %>
    <p>
      <span class='quiet'>by</span> <%= link_to comment.creator.username, user_path(comment.creator) %>
      <small>at</small> <%= format_time(comment.created_at) %>
    </p>
  </div>
</div>
